@import 'vars.scss';

$animate: all 0.2s ease-in-out;
.container {
  min-height: calc(100vh - 70px);
  padding: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.footer {
  height: 35px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wallet {
  cursor: pointer;
  color: $theme-text-color;
}

.text-title {
  text-decoration: none;
  letter-spacing: 0.05em;
  display: inline-block;
  // padding: 15px 20px;
  position: relative;
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $color-secondary;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.emphasized-text {
  font-weight: 700;
  text-decoration: solid;
  //   text-decoration: underline;
  //   text-decoration-color: $theme-text-color;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.table-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  .responsive-table {
    li {
      border-radius: 5px;
      //   padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: $light-Navey;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      border-radius: 5px;
    }
    .table-row {
      cursor: pointer;
      background-color: $navy;
      border-left-width: 2px;
      border-left-style: solid;
      border-left-color: $theme-text-color;
      border-radius: 5px;
      box-shadow: 10px 10px 54px 1px rgba(23, 42, 69, 0.85);
    }
    .col-0 {
      flex-basis: 5%;
    }
    .col-1 {
      flex-basis: 15%;
    }
    .col-2 {
      flex-basis: 35%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 20%;
    }

    @media all and (max-width: 800px) {
      .table-header {
        display: none;
      }
      .table-row {
        cursor: pointer;
        text-align: center;
      }
      li {
        display: block;
      }
      .col {
        flex-basis: 100%;
      }
      .col {
        display: flex;
        &:before {
          color: #6c7a89;
          content: attr(data-label);
          flex-basis: 40%;
        }
      }
    }
  }
}

.token-price-up {
  color: $green;
}
.token-price-down {
  color: $red;
}
